@import url('./assets/fonts/fonts.css');
@import 'tailwindcss';

@theme {
  --font-r-t: 'R-Thin', serif;
  --font-r-ul: 'R-Ultralight', serif;
  --font-r-ul-i: 'R-Ultralight-Italic', serif;
  --font-s-r: 'S-Regular', sans-serif;
  --font-s-m: 'S-Medium', sans-serif;

  --color-bg: #fafaf9;
  --color-primary: #1e1e1e;
  --color-secondary: #888888;
  --color-input-bg: #eeeded;
  --color-off: #d9d9d9;
  --color-on: #cecece;
}
